.before-template, .step-card__part:nth-of-type(3)::before, .step-card__part:nth-of-type(2)::before, .step-card__part:nth-of-type(1)::before, .navigation-menu__link-login > a, .navigation-menu__link-logup > a, .navigation-menu__link-login, .navigation-menu__link-logup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  scale: 0;
}

@-webkit-keyframes openPopup {
  0% {
    scale: 0;
  }
  90% {
    background-color: rgba(0, 0, 0, 0.603);
  }
  100% {
    scale: 1;
    background-color: rgba(0, 0, 0, 0.45);
  }
}

@keyframes openPopup {
  0% {
    scale: 0;
  }
  90% {
    background-color: rgba(0, 0, 0, 0.603);
  }
  100% {
    scale: 1;
    background-color: rgba(0, 0, 0, 0.45);
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Monserat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h3 {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  h3 {
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 22px;
  }
}

h4 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFFFFF;
}

button {
  border-radius: 40px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
}

hr {
  height: 2px;
  background: #ff4e50;
}

.container {
  width: 970px;
  padding: 0 15px;
  margin: 0 auto;
  font-family: "Montserat";
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 10px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 320px;
    padding: 10px;
  }
}

.section {
  margin: 95px 0;
}
@media screen and (max-width: 768px) {
  .section {
    margin: 35px 0;
  }
}

.partners-section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .partners-section > .container {
    padding: 0 138px;
  }
}

.interest-section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.1)), url(../image/Background.png) no-repeat center;
  background-size: cover;
}
.header > .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .header {
    width: 100%;
    background: linear-gradient(rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.1)), url(../image/Background__tablet.png) no-repeat;
    background-size: cover;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    background: linear-gradient(rgba(47, 48, 58, 0.1), rgba(47, 48, 58, 0.1)), url(../image/Background__mobile.png) no-repeat;
    background-size: cover;
  }
}

.header__title {
  margin-top: 156.7px;
  font-weight: 700;
  font-size: 52px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 768px) {
  .header__title {
    margin-top: 26px;
    font-size: 30px;
  }
}

.header__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin-top: 28.5px;
  color: #f7f3f2;
}
@media screen and (max-width: 768px) {
  .header__subtitle {
    margin-top: 6px;
    font-size: 18px;
  }
}

.header__button {
  height: 40px;
  width: 225px;
  border-radius: 40px;
  background-color: #FF4E50;
  font-family: "Montserrat";
  border: none;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  margin: 45px 0 235px;
  transition-property: border, color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header__button:hover, .header__button:focus {
  color: black;
  border: 2px solid black;
  outline: none;
}
@media screen and (max-width: 768px) {
  .header__button {
    margin: 15px 0 153px;
  }
}

.navigation-menu {
  padding: 46px 48px 0 50px;
  display: flex;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .navigation-menu {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
}

.navigation-menu__logo {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.7142857143;
  letter-spacing: 0px;
  color: #FFFFFF;
  transition-property: outline, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navigation-menu__logo:hover, .navigation-menu__logo:focus {
  color: black;
  outline: 1px solid black;
}
@media screen and (max-width: 768px) {
  .navigation-menu__logo {
    margin-top: 97px;
  }
}

.navigation-menu__link {
  display: flex;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .navigation-menu__link {
    margin-left: 0;
    margin-top: 20px;
    height: 36px;
  }
}
.navigation-menu__link-logup > a {
  border: 2px solid white;
}
.navigation-menu__link-logup {
  width: 96px;
  border-radius: 40px;
}
.navigation-menu__link-login {
  width: 96px;
  border-radius: 40px;
}
.navigation-menu__link-login > a, .navigation-menu__link-logup > a {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2142857143;
  letter-spacing: 0px;
  color: #FFFFFF;
  transition-property: border, color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.navigation-menu__link-login > a:hover, .navigation-menu__link-login > a:focus, .navigation-menu__link-logup > a:hover, .navigation-menu__link-logup > a:focus {
  color: black;
  border: 2px solid black;
  outline: none;
}

.step-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .step-card {
    grid-template-columns: repeat(1, 1fr);
  }
}

.before-template, .step-card__part:nth-of-type(3)::before, .step-card__part:nth-of-type(2)::before, .step-card__part:nth-of-type(1)::before {
  height: 20px;
  width: 70px;
  background: #ff4e50;
  border-radius: 40px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.step-card__part {
  grid-column-end: 1 span;
  height: 400px;
  display: flex;
  justify-content: end;
  flex-direction: column;
  padding: 25px 21px;
}
.step-card__part:nth-of-type(1) {
  background: url(../image/Step_1.png);
}
.step-card__part:nth-of-type(1)::before {
  content: "Step 1";
}
.step-card__part:nth-of-type(2) {
  background: url(../image/Step_2.png);
}
.step-card__part:nth-of-type(2)::before {
  content: "Step 2";
}
.step-card__part:nth-of-type(3) {
  background: url(../image/Step_3.png);
}
.step-card__part:nth-of-type(3)::before {
  content: "Step 3";
}

.step-card__part-subtitle {
  margin-top: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0px;
  color: #e3e3e3;
}

.circle-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 19px;
}
@media screen and (max-width: 1200px) and (min-width: 768px) {
  .circle-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .circle-card {
    grid-template-columns: repeat(1, 1fr);
  }
}

.subcircle, .circle-card__wrapper-img-airplane::after, .circle-card__wrapper-img-camera::after, .circle-card__wrapper-img-create::after, .circle-card__wrapper-img-music::after {
  content: "";
  width: 32px;
  height: 32px;
  border: 4px solid white;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  display: block;
  background-color: red;
}

.circle-card__part {
  grid-column-end: 1 span;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.circle-card__wrapper-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 17px;
  transition-property: width;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.circle-card__wrapper-img :hover {
  width: 102%;
}
.circle-card__wrapper-img-music::after {
  background: url(../image/music.svg) no-repeat center red;
}
.circle-card__wrapper-img-create::after {
  background: url(../image/brush.svg) no-repeat center #979797;
}
.circle-card__wrapper-img-camera::after {
  background: url(../image/camera.svg) no-repeat center #ffa710;
}
.circle-card__wrapper-img-airplane::after {
  background: url(../image/airplane.svg) no-repeat center #667df3;
}
.circle-card__wrapper-img > img {
  border-radius: 50%;
  position: absolute;
}

.circle-card__title {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2142857143;
  letter-spacing: 0px;
  text-align: center;
  color: black;
  margin-bottom: 12px;
}

.circle-card__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}

.partners-button {
  width: 180px;
  height: 40px;
  margin-top: 36px;
  color: #FF4E50;
  border: 2px solid #FF4E50;
  background-color: transparent;
  transition-property: border, color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.partners-button:hover, .partners-button:focus {
  color: black;
  border: 2px solid black;
  outline: none;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }
}

.galery__element, .galery__element-double {
  grid-column-end: 1 span;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .galery__element, .galery__element-double {
    width: 300px;
    height: 120px;
  }
}
.galery__element::after, .galery__element-double::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.327);
}
.galery__element-double {
  grid-column-end: 2 span;
}
@media screen and (max-width: 768px) {
  .galery__element-double {
    grid-column-end: 1 span;
  }
}
.galery__element > img, .galery__element-double > img {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .galery__element > img, .galery__element-double > img {
    width: 300px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.gallery__title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .gallery__title {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .interest-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.interest-form__input {
  width: 299px;
  height: 40px;
  padding-left: 14px;
}

.interest-form__button {
  width: 172px;
  height: 40px;
  background: #FF4E50;
  color: #FFFFFF;
  border: none;
  margin-left: 4px;
  transition-property: border, color, outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.interest-form__button:hover, .interest-form__button:focus {
  color: black;
  border: 2px solid black;
  outline: none;
}

.interest-form__title {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 0.7777777778;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 24px;
}

.footer-block__image {
  margin-top: 7px;
}

.footer-blocks {
  display: flex;
  padding: 36px 0 26px;
}
.footer-blocks > :first-child > p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #FF4E50;
}
@media screen and (max-width: 768px) {
  .footer-blocks > :first-child > p {
    margin-bottom: 13px;
  }
}
.footer-blocks > :nth-child(3) {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2142857143;
  text-align: left;
  color: black;
  margin-left: 125px;
}
@media screen and (max-width: 768px) {
  .footer-blocks > :nth-child(3) {
    text-align: center;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 0;
  }
}
.footer-blocks > :nth-child(4) {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0px;
  text-align: right;
  color: #cccccc;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .footer-blocks > :nth-child(4) {
    text-align: center;
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer-blocks {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footer-navigation {
  margin-left: 122px;
}
@media screen and (max-width: 768px) {
  .footer-navigation {
    text-align: center;
    margin-left: 0;
  }
}
.footer-navigation > li > h5 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2142857143;
  color: black;
  margin-bottom: 11px;
}
.footer-navigation > li {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0px;
}
.footer-navigation > li > a {
  color: black;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

.popup__body {
  width: 500px;
  height: 650px;
  margin: 80px auto;
  position: relative;
  background-color: #fff;
  border-radius: 5px;
}
.popup__body > svg {
  position: absolute;
  top: 20px;
  right: 20px;
}
.popup__body > svg :hover {
  fill: red;
}

.popup__content {
  width: 100%;
  height: 100%;
  padding: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.popup__content > img {
  border-radius: 5px;
  width: 300px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup__title {
  color: black;
  margin-top: 30px;
}

.popup__text {
  margin-top: 40px;
  font-size: 18px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */